.header{
  background-color: #001cbd;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 50px;
  }
}

.sing-in {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    width: 80%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__div {
      margin-bottom: 50px;
      width: 800px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;

      label {
        font-size: 30px;
      }

      input {
        font-size: 30px;
        width: 500px;
      }
    }

    &__btnSubmit {
      border-radius: 10px;
      margin-top: 15px;
      height: 50px;
      width: 150px;
      font-size: 30px;
    }

    &__btnSubmit:active {
      background-color: #069ae9;
    }
  }

  a {
    font-size: 30px;
  }
}
