@import '../styles/colors.scss';
@import '../styles/constSign-In-up-reset.scss';

.allBlockSignIn {
  @extend %allBlock-Sign-In-Up-Reset;
}

.sign-in {
  @extend %Sign-In-Up-Reset;

  &__heading {
    @extend %headingSignInUpReset;

    &__nameProject{
      font-size: 20px;
    }
  }

  &__img {
    width: 40%;
  }

  &__form {
    @extend %form-Sign-In-Up-Reset;
    margin-top: 50px;

    &__div {
      @extend %div-Sign-In-Up-Reset;

      label{
        @extend %labelSignInUpReset;
      }

      input {
        @extend %inputSignInUpReset;
      }

      &__watchPass{
        @extend %btnWatch;
      }
    }

    &__btnSubmit {
      @extend %btn-Sign-In-Up-Reset;
    }

    &__forgotPassword {
      margin-bottom: 5px;
      width: 85%;
      font-size: 12px;
    }
  }

  hr {
    margin-top: 20px;
    width: 85%;
  }

  &__doNotAccount {
    font-size: 12px;
    margin-bottom: 40px;
  }
}
