<html>
  <head>
    <title>Sign In</title>
  </head>
  <body>
    <div class="header">
      <h1>Sign In</h1>
    </div>
    <div class="sing-in">
      <form class="sing-in__form">
        <div class="sing-in__form__div">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="sing-in__form__div">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <p class="input-error"></p>
        <button id="signInBtn" type="submit" class="sing-in__form__btnSubmit">Sign In</button>
      </form>
      <a href="/sign-up.html">Register</a>
    </div>
  </body>
</html>
