.allBlockSignIn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in {
  margin: 20px 0;
  padding: 10px 0;
  width: 600px;
  border: 1px solid #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    cursor: default;
    width: 90%;
    font-size: 18px;
    font-weight: bold;
  }

  &__img {
    width: 60%;
  }

  &__form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__div {
      width: 85%;
      margin-bottom: 25px;
      display: flex;
      flex-direction: column;
      position: relative;

      label{
        font-size: 12px;
        font-weight: bold;
      }

      input {
        border-color: #E5E5E5;
      }

      &__watchPass{
        position: absolute;
        top: 58%;
        left: 96%;
        cursor: pointer;
        background: url('/src/asset/img/view.svg');
        width: 15px;
        height: 15px;
      }
    }

    &__btnSubmit {
      width: 85%;
      background-color: #96A0C5;
      margin: 15px 0;
      height: 50px;
      font-size: 30px;
    }

    &__btnSubmit:active {
      background-color: #ccccfc;
    }

    &__forgotPassword {
      margin-bottom: 5px;
      width: 85%;
      font-size: 12px;
    }
  }

  hr {
    width: 85%;
  }

  &__doNotAccount {
    font-size: 12px;
  }
}
