.profile {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    height: 60px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $heder;
    z-index: 4;

    &__profile{
      display: flex;
      align-items: center;
      justify-content: space-around;

      &__info {
        margin-right: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
      }

      &__avatar {
        cursor: pointer;
        border: 1px solid $borderColor;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        border-radius: 50%;

        &__menu {
          width: 200px;
          padding: 5px;
          background-color: $menuColor;
          border: 1px solid $borderColorCreate;
          border-radius: 10px;
          position: absolute;
          top: 70px;
          right: 10px;
          display: none;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 4;

          &__functional{
            cursor: pointer;
            width: 70%;
            height: 25px;
            background-color: $btnColor;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            margin: 5px 0 ;
          }
        }
      }
    }

    &__nameAppendix {
      position: absolute;
      left: 50%;
      cursor: default;
      font-size: 25px;
      font-weight: bold;
    }

    &__btnBack {
      cursor: pointer;
      margin-left: 10px;
      height: 40px;
      width: 30px;
      background: url('/src/asset/img/arrow.png') no-repeat;
      background-size: 100% 100%;
    }
  }

  &__userInfo {
    margin-top: 120px;
    min-width: 370px;
    @extend %Sign-In-Up-Reset;

    &__photo{
      width: 85%;
      margin-bottom: 25px;
      display: flex;
      position: relative;
      align-items: flex-end;

      &__userAvatar {
        width: 200px;
        height: 230px;
        margin: 0 20px 15px 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      &__ChangePhoto{
        width: 60%;
        cursor: pointer;
        @extend %btn-Sign-In-Up-Reset;
      }
    }

    &__date{
      @extend %div-Sign-In-Up-Reset;

      &__label {
        @extend %labelSignInUpReset;
      }

      &__control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: bold;

        &__changeBtn {
          background-color: $btnColor;
          border: 1px solid $borderColor;
          height: 30px;
          width: 90px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:active {
            background-color: $btnColorActive;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {

  .profile {
    min-width: 375px;

    &__header {
      position: absolute;

      &__nameAppendix {
        left: 60px;
      }
    }

    &__userInfo {
      width: 100%;

      &__photo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
    }
  }
}
