<html>
  <head>
    <title>Регистрация</title>
  </head>
  <body>
    <div class="header">
      <h1>Регистрация</h1>
    </div>
    <div class="sign-up">
      <form class="sign-up__form">
        <div class="sign-up__form__div">
          <label for="name" class="form-label">Имя</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="sign-up__form__div">
          <label for="email" class="form-label">Email адрес</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="sign-up__form__div">
          <label for="password" class="form-label">Пароль</label>
          <input type="password" class="form-control" id="password">
        </div>
        <div class="sign-up__form__div">
          <label for="password" class="form-label">Повторный пароль</label>
          <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="sign-up__form__btnSubmit">Регистрация</button>
      </form>
      <a href="/sign-in.html">Войти</a>
    </div>
  </body>
</html>
