<html>
  <head>
    <title>Registration</title>
  </head>
  <body class="allBlockSignUp">
    <div class="sign-up">
      <div class="sign-up__heading">
        <p>Do It</p>
        <p>Registration</p>
      </div>
      <img class="sign-up__img" src="/src/asset/img/kanban.svg" alt="Error">
      <form class="sign-up__form">
        <div class="sign-up__form__div">
          <label for="name" class="sign-up__form__div__label">Name</label>
          <input type="text" class="sign-up__form__div__control" id="nameInput">
          <p class="input-error" id="nameError"></p>
        </div>
        <div class="sign-up__form__div">
          <label for="email" class="sign-up__form__div__label">E-mail</label>
          <input type="email" class="sign-up__form__div__control" id="email" aria-describedby="emailHelp">
          <p class="input-error" id="emailError"></p>
        </div>
        <div class="sign-up__form__div">
          <label for="password" class="sign-up__form__div__label">Password</label>
          <input type="password" class="sign-up__form__div__control" id="password">
          <p class="input-error" id="passwordError"></p>
          <div class="sign-up__form__div__watchPass" id="btnWatchPassword"></div>
        </div>
        <div class="sign-up__form__div">
          <label for="repeatPassword" class="sign-up__form__div__label">Re-enter password</label>
          <input type="password" class="sign-up__form__div__control" id="repeatPassword">
          <p class="input-error" id="repeatPasswordError"></p>
          <div class="sign-up__form__div__watchPass" id="btnWatchRepeatPassword"></div>
        </div>
        <div class="sign-up__form__divСheckbox">
          <input type="checkbox" class="sign-up__form__div__controllСheckbox" id="agreementCheckbox">
          <label for="agreementСheckbox" class="sign-up__form__divСheckbox__labelСheckbox">
            By creating an account you agree 
            <a href="/src/asset/Doc/sadasd.pdf" target="_blank" class="sign-up__form__divСheckbox__labelСheckbox__link">
              to Conditions of Use & Sale
            </a>
          </label>
          <p class="input-errorheckbox" id="agreementCheckboxError"></p>
        </div>
        <button type="submit" class="sign-up__form__btnSubmit" id="signUpBtn">Create an account</button>
      </form>
      <hr>
      <p class="sign-up__linkUpAndIn">Already have an account?<a href="/sign-in.html">Log in</a></p>
    </div>
  </body>
</html>
