@import './colors.scss';

.input-error {
  position: absolute;
  top: 60px;
  color: red;
  display: none;
  font-size: 10px;
}

#agreementCheckboxError {
  position: absolute;
  top: 25px;
  left: 25px;
  color: red;
  display: none;
  font-size: 10px;
}

.invalid {
  border: 1px solid red !important;
}

.error-notification {
  border: 1px solid $borderColor;
  font-size: 16px;
  background-color: #e496e9;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 13px 30px;
  display: flex;
  align-items: center;
  font-weight: bold;

  &__img{
    margin-right: 10px;
    height: 20px;
    width: 20px;
    background: url('/src/asset/img/Exclamation.png') no-repeat;
    background-size: 100%;
  }
}
