@import './colors.scss';
@import './constStyleVariables.scss';
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

.input-error {
  position: absolute;
  top: 60px;
  color: red;
  display: none;
  font-size: 10px;
}

.input-errorNameContent {
  position: absolute;
  top: 190px;
  width: 30%;
  color: red;
  display: none;
  font-size: 10px;
}

.input-errorTaskContent {
  position: absolute;
  top: 10px;
  width: 100%;
  color: red;
  display: none;
  font-size: 10px;
}

.input-errorTaskDate {
  position: absolute;
  top: 22px;
  width: 100%;
  color: red;
  display: none;
  font-size: 10px;
}

.input-errorCheckbox {
  position: absolute;
  top: 25px;
  left: 25px;
  color: red;
  display: none;
  font-size: 10px;
}

.invalid {
  border: 1px solid red !important;
}

.error-notification {
  border: 1px solid $borderColor;
  font-size: 16px;
  background-color: #e496e9;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 13px 30px;
  display: flex;
  align-items: center;
  font-weight: bold;

  &__img{
    margin-right: 10px;
    height: 20px;
    width: 20px;
    background: url('/src/asset/img/Exclamation.png') no-repeat;
    background-size: 100%;
  }
}

.mainPageModal {
  @extend %modelBlockAll;
  align-items: center;

  &__agreement {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    height: 35%;
    width: 35%;
    border: 1px solid;
    background-color: #d8cbed;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__btn {
      @extend %btn-Sign-In-Up-Reset;
    }
  }
}

.hide {
  display: none;
}

.disabledButton {
  pointer-events: none;
  opacity: 0.7;
}

.italicFont {
  font-family: 'Style Script', cursive;
}

@media (max-width: 443px) {
  .input-errorCheckbox {
    top: 40px;
    left: 0px;
  }
}

@media (max-width: 950px) {
  .input-errorNameContent{
    width: 42%;
  }
}

@media (max-width: 690px) {
  .input-errorNameContent {
    width: 59%;
    }
}

@media (max-width: 500px) {
  .input-errorNameContent {
  width: 84%;
  }
}
