@import './colors.scss';

%btnWatch {
  position: absolute;
  top: 54%;
  left: 95%;
  cursor: pointer;
  background: url('/src/asset/img/Eye.png') no-repeat;
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
}

%labelSignInUpReset {
  font-size: 12px;
  font-weight: bold;
}

%inputSignInUpReset {
  border: 1px solid $borderColor;
  height: 40px;

  &:focus{
    outline: none;
    border: 2px solid #878787;
  }
}

%headingSignInUpReset {
  cursor: default;
  width: 90%;
  font-size: 18px;
  font-weight: bold;
}

%Sign-In-Up-Reset {
  margin: 20px 0;
  padding: 10px 0;
  width: 600px;
  border: 1px solid $borderColor;
  display: flex;
  flex-direction: column;
  align-items: center;
}

%allBlock-Sign-In-Up-Reset {
  display: flex;
  justify-content: center;
  align-items: center;
}

%form-Sign-In-Up-Reset {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

%div-Sign-In-Up-Reset {
  width: 85%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
}

%btn-Sign-In-Up-Reset {
  width: 85%;
  background-color: $btnColor;
  border: 1px solid $borderColor;
  margin: 15px 0;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
}
