@import './colors.scss';
@import './constSign-In-up-reset.scss';

.blockBackground {
  height: 80%;
  width: 55%;
  position: fixed;
  top: 15vh;
  right: 0px;
  opacity: 0.3;
}

.mainPage {
  display: flex;
  position: relative;
  width: 100%;

  .mainPage__header {
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #91A6F7;

    &__profile{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 120px;

      &__info {
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
      }

      &__avatar {
        cursor: pointer;
        width: 50px;
        height: 50px;
        background-color: #C4C4C4;
        position: relative;
        border-radius: 100%;

        &__menu {
          width: 190px;
          height: 100px;
          background-color: $menuColor;
          position: absolute;
          top: 70px;
          right: 10px;
          display: none;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &__functional{
            cursor: pointer;
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }


    &__btnMenu {
      cursor: pointer;
      margin-left: 10px;
      height: 30px;
      width: 30px;
      background: url('/src/asset/img/menu-button-of-three-horizontal-lines.svg') no-repeat;
      background-size: 100% 100%;
    }
  }

  &__menuBoards {
    position: fixed;
    background-color: $menuColor;
    width: 300px;
    top: 80px;
    left: 0;
    bottom: 0;
    transition-duration: 1s;
    overflow: auto;

    &__modelBlock {
      background: #66666614;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      display: none;
      justify-content: center;

      &__createBlock {
        margin-top: 40px;
        display: flex;
        font-weight: bold;
        font-size: 16px;
        height: 40%;
        width: 35%;
        border: 1px solid;
        background-color: #d8cbed;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        label{
          margin-top: 15px;
          font-size: 16px;
        }

        input {
          width: 85%;
          margin-bottom: 50px;
          @extend %inputSignInUpReset;
        }

        &__btn {
          margin: 5px 0 !important;
          @extend %btn-Sign-In-Up-Reset;
        }
      }
    }

    &__functional {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__boards {
        display: flex;
        flex-direction: column;

        &__name {
          margin: 5px;
          cursor: pointer;
          font-weight: bold;
          font-size: 12px;

          &:hover {
            box-shadow: inset 0 0px 0 white, inset 0 -1px 0 black;
          }
        }
      }

      &__all {
        margin: 15px 0;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
      }

      hr {
        width: 85%;
      }
    }
  }
}
