@import './colors.scss';
@import './constSign-In-up-reset.scss';

.blockBackground {
  height: 65%;
  width: 86%;
  position: fixed;
  top: 22vh;
  right: 0px;
  opacity: 0.3;
  z-index: -1;
}

.mainPage {
  display: flex;
  position: relative;
  width: 100%;

  .mainPage__header {
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $heder;

    &__profile{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 120px;

      &__info {
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
      }

      &__avatar {
        cursor: pointer;
        width: 50px;
        height: 50px;
        background-color: #C4C4C4;
        position: relative;
        border-radius: 100%;

        &__menu {
          width: 200px;
          padding: 5px;
          background-color: $menuColor;
          position: absolute;
          top: 70px;
          right: 10px;
          display: none;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 4;

          &__functional{
            cursor: pointer;
            width: 70%;
            height: 25px;
            background-color: $btnColor;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            margin: 5px 0 ;
          }
        }
      }
    }

    &__nameAppendix {
      cursor: default;
      font-size: 18px;
      font-weight: bold;
    }


    &__btnMenu {
      cursor: pointer;
      margin-left: 10px;
      height: 40px;
      width: 30px;
      background: url('/src/asset/img/menuBtn.png') no-repeat;
      background-size: 100% 100%;
    }
  }

  &__menuBoards {
    position: fixed;
    background-color: $menuColor;
    width: 300px;
    top: 80px;
    left: 0;
    bottom: 0;
    transition-duration: 1s;
    overflow: auto;
    z-index: 3;


    &__modelBlock {
      background: #66666614;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      display: none;
      justify-content: center;
      z-index: 4;

      &__createBlock {
        @extend %modal-menu-create;

        &__btn {
          margin: 5px 0 !important;
          @extend %btn-Sign-In-Up-Reset;
        }
      }
    }

    &__functional {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__boards {
        display: flex;
        flex-direction: column;

        &__name {
          margin: 5px;
          cursor: pointer;
          font-weight: bold;
          font-size: 12px;

          &:hover {
            box-shadow: inset 0 0px 0 white, inset 0 -1px 0 black;
          }
        }
      }

      &__all {
        margin: 15px 0;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
      }

      hr {
        margin-top: 15px;
        width: 85%;
      }
    }
  }
}
