@import './colors.scss';

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPage__header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__profile__btn {
    width: 310px;
    height: 60px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: $btnColor;
  }

  &__profile__btn:active {
    background-color: $btnColorActive;
  }

}
