.modelBlock {
  background: #66666614;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  z-index: 4;

  &__createBlock {
    margin-top: 40px;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    height: 40%;
    width: 35%;
    border: 1px solid;
    background-color: #d8cbed;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    label{
      margin-top: 15px;
      font-size: 16px;
    }

    input {
      width: 85%;
      margin-bottom: 50px;
      @extend %inputSignInUpReset;
    }

    &__btn {
      margin: 5px 0 !important;
      @extend %btn-Sign-In-Up-Reset;
    }
  }
}
