@import '../styles/colors.scss';
@import '../styles/constSign-In-up-reset.scss';

.allBlockResetPassword {
  @extend %allBlock-Sign-In-Up-Reset;
}

.modal {
  background: #66666614;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;

  &__completed {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    width: 35%;
    border: 1px solid;
    background-color: #d8cbed;
    justify-content: center;
    align-items: center;
  }
}


.resetPassword {
  @extend %Sign-In-Up-Reset;

  &__heading {
    @extend %headingSignInUpReset;

    &__nameProject{
      font-size: 20px;
    }
  }

  &__img {
    width: 40%;
  }

  &__form {
    @extend %form-Sign-In-Up-Reset;
    margin-top: 50px;

    &__div {
      @extend %div-Sign-In-Up-Reset;

      label{
        @extend %labelSignInUpReset;
      }

      input {
        @extend %inputSignInUpReset;
      }
    }

    &__btnSubmit {
      @extend %btn-Sign-In-Up-Reset;
    }
  }

  hr {
    margin-top: 20px;
    width: 85%;
  }

  &__linkUpAndIn {
    margin-bottom: 40px;
    font-size: 12px;
  }
}
