<html>
  <head>
    <title>Reset password</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <body class="allBlockResetPassword">
    <div class="resetPassword">
      <div class="resetPassword__heading">
        <p class="resetPassword__heading__nameProject italicFont">Do It</p>
        <p>Reset password</p>
      </div>
      <img class="resetPassword__img" src="/src/asset/img/kanban.svg" alt="Error">
      <form class="resetPassword__form">
        <div class="resetPassword__form__div">
          <label for="email" class="resetPassword__form__div-label">
            Enter the E-mail to which to send the letter
          </label>
          <input type="email" class="resetPassword__form__div-control" id="email" aria-describedby="emailHelp">
          <p class="input-error" id="emailError"></p>
        </div>
        <button id="resetPasswordBtn" type="submit" class="resetPassword__form__btnSubmit">Send</button>
      </form>
      <hr>
      <p class="resetPassword__linkUpAndIn">Already have an account?<a href="/sign-in.html">Log in</a></p>
    </div>
    <div class="modal" id="modalCompleted">
      <div class="modal__completed">Email sent</div>
    </div>
  </body>
</html>
