<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <div class="allBlockStartPage">
      <div class="startPage">
        <div class="startPage__btnBlock">
          <p>
            <a href="/sign-in.html" id="btnLogIn" class="startPage__btnBlock__logInAndRegistration">Log In  </a>
             / 
            <a href="/sign-up.html" id="btnRegistration" class="startPage__btnBlock__logInAndRegistration">  Registration</a>
          </p>
        </div>
        <img class="startPage__img" src="/src/asset/img/kanban.svg" alt="Error">
        <div class="startPage__greeting">
          <p class="startPage__greeting__welcome">Welcome!</p>
          <hr>
          <p class="startPage__greeting__name italicFont">Do It</p>
        </div>
      </div>
    </div>
  </body>
</html>
